<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>species</key>
		<string>国学</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=GXPD&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>头条</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SYLB10,SYDT10,SYRECOMMEND</string>
	</dict>
	<dict>
		<key>species</key>
		<string>时尚</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SS78,FOCUSSS78&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>娱乐</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=YL53,FOCUSYL53&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>汽车</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=QC45,FOCUSQC45&amp;page=1</string>
	</dict>
	<dict>
		<key>species</key>
		<string>科技</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=KJ123,FOCUSKJ123</string>
	</dict>
	<dict>
		<key>species</key>
		<string>段子</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=DZPD,FOCUSDZPD&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>博报</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=BB10,FOCUSBB10&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>财经</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=CJ33,FOCUSCJ33,HNCJ33</string>
	</dict>
	<dict>
		<key>species</key>
		<string>旅游</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=LY67,FOCUSLY67&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>房产</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=FC81,FOCUSFC81&amp;page=1&amp;gv=5.2.0&amp;av=5.2.0&amp;uid=86665402460993</string>
	</dict>
	<dict>
		<key>species</key>
		<string>评论</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=PL40</string>
	</dict>
	<dict>
		<key>species</key>
		<string>酒业</string>
		<key>url</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=JYPD</string>
	</dict>
</array>
</plist>
